 #chart-wrapper {
     display: inline-block;
     position: relative;
     width: 100%;
 }

 mat-icon {
     cursor: pointer;
 }

 mat-form-field {
     padding: 0 10px;
     width: 200px !important;
 }

 .indicators-container {
     display: flex;
     flex-wrap: wrap;

     .list {
         padding: 10px;

         .close-icon {
             position: absolute;
             top: 88px;
             left: 186px;
         }
     }

     .indicators-select {
         width: 100%;
     }
 }