<div id="chart-wrapper">
    <div class="select-container" *ngIf="chart">
        <div class="dropdown-container">

            <mat-form-field>
                <mat-label>Wybierz czas notowań: </mat-label>
                <mat-select [(ngModel)]="quantityOfStockValue" (selectionChange)="applyChart()">
                    <mat-option *ngFor="let time of timeStock" [value]="time.numberOfDays">{{time.time}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>

            <mat-form-field class="example-form-field">
                <mat-label>Wybierz długość SMA</mat-label>
                <input matInput type="number" [(ngModel)]="lengthChartSMA" (change)="applyChart()">
            </mat-form-field>
            <br>
            <mat-icon (click)="addSMA()">add</mat-icon>

        </div>
    </div>
    <canvas id="chart"></canvas>
</div>